In [1]:
import pandas as pd, numpy as np

In [2]:
seed = 1
np.random.seed(seed)

In [3]:
%matplotlib inline

## Load data

In [4]:
train_df = pd.read_csv("../data/train.csv")
test_df = pd.read_csv("../data/test.csv")
train_df.shape, test_df.shape

((4209, 378), (4209, 377))

In [5]:
train_df.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [6]:
test_df.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

# preprocessing

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
# train_input = train_df.drop("ID") First, experiment with keeping id
train_input = train_df.copy()
test_input = test_df.copy()

In [9]:
num_train =len( train_input)
num_train

4209

In [23]:
full_input = pd.concat([train_input, test_input])
full_input.shape

(8418, 378)

In [24]:
categorical_cols = full_input.select_dtypes(include=[np.object]).columns.tolist()
categorical_cols

['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

In [25]:
full_input = pd.get_dummies(full_input)

In [26]:
full_input.drop('y', inplace=True, axis=1)

In [27]:
drop_id = False # Experiment with this value.

In [28]:
if drop_id:
    full_input.drop('ID', inplace=True, axis=1)

In [56]:
# convert an array of values into a dataset matrix
def create_dataset(dataset, look_back=1):
    dataX, dataY = [], []
    for i in range(len(dataset)-look_back-1):
        a = dataset[i:(i+look_back)]
        dataX.append(a)
        dataY.append(dataset[i + look_back])
    return np.array(dataX), np.array(dataY)

In [33]:
full_input.sort_values('ID', inplace=True)
full_input.head()

,ID,X10,X100,X101,X102,X103,X104,X105,X106,X107,...,X8_p,X8_q,X8_r,X8_s,X8_t,X8_u,X8_v,X8_w,X8_x,X8_y
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
0,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,2,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,3,0,1,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
full_input_train, full_input_val = full_input[:int(full_input.shape[0] * 0.8)], full_input[int(full_input.shape[0] * 0.8):]
full_input_train.shape, full_input_val.shape

((6734, 580), (1684, 580))

In [61]:
full_input_train_x, full_input_train_y = create_dataset(full_input_train.drop("ID", axis=1).values, 5)
full_input_val_x, full_input_val_y = create_dataset(full_input_val.drop("ID", axis=1).values, 5)
full_input_train_x.shape, full_input_val_x.shape, full_input_train_y.shape, full_input_val_y.shape

((6728, 5, 579), (1678, 5, 579), (6728, 579), (1678, 579))

## model

In [72]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, LSTM
from keras.layers.normalization import BatchNormalization
from keras.layers.wrappers import Bidirectional

In [64]:
from keras_tqdm import TQDMNotebookCallback

In [73]:
model = Sequential()

model.add(Bidirectional(LSTM(64, input_length=5, input_dim=579)))
model.add(Dense(579, activation='sigmoid'))

model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['acc'])

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:3: UserWarning: The `input_dim` and `input_length` arguments in recurrent layers are deprecated. Use `input_shape` instead.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Update your `LSTM` call to the Keras 2 API: `LSTM(64, input_shape=(5, 579))`
  This is separate from the ipykernel package so we can avoid doing imports until

ValueError: The first layer in a Sequential model must get an `input_shape` or `batch_input_shape` argument.

In [74]:
model.fit(full_input_train_x, full_input_train_y, epochs=100, 
          validation_data=(full_input_val_x, full_input_val_y), 
          shuffle=False, verbose=2)

RuntimeError: The model needs to be compiled before being used.

## Kaggle predictions

In [77]:
kaggle_preds = gbm.predict(test_input.values)
kaggle_preds.shape

(4209,)

In [79]:
test_df['y'] = kaggle_preds
test_df[['ID', 'y']].head()

   ID           y
0   1   79.069446
1   2   95.031323
2   3   78.065370
3   4   78.209953
4   5  115.343554

In [80]:
test_df[['ID', 'y']].to_csv("../data/submission_lightgbm_benchmark.csv", index=False)